@import 'tailwindcss';

@theme {
  --color-*: initial;

  /* Colors */
  --color-orangeade: #e55d3b;
  --color-sodalite-blue: #384478;
  --color-antique-white: #eee7d3;
  --color-omphalodes: #b3cbd9;
  --color-black: rgba(20, 20, 20, 1);
  --color-white: rgba(250, 250, 250, 1);
  --color-light-gray: rgba(201, 206, 214, 1);

  /* Fonts */
  --font-body: var(--font-bebas);
  --font-heading: var(--font-quicksand);
}

@theme inline {
  /* Colors */
  --color-primary: var(--color-orangeade);
  --color-secondary: var(--color-sodalite-blue);
  --color-tertiary: var(--color-omphalodes);

  --color-background: var(--color-antique-white);
  --color-foreground: var(--color-sodalite-blue);
}
